@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-text: #000000;
  --color-background: #ffffff;

  --font-sans: "Inter", sans-serif;

  --text-body: 20px;
  --text-heading: 40px;
}